.partner {
    flex: 4;
    padding: 20px;
  }
  
  .partnerTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .partnerAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .partnerTop {
    display: flex;
  }
  
  .partnerTopLeft,
  .partnerTopRight {
    flex: 1;
  }
  
  .partnerTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .partnerInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .partnerInfoTop {
    display: flex;
    align-items: center;
  }
  
  .partnerName {
    font-weight: 600;
  }
  
  .partnerInfoBottom {
    margin-top: 10px;
  }
  
  .partnerInfoData {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .partnerInfoValue {
    font-weight: 300;
  }
  
  .partnerBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .partnerForm {
    display: flex;
    justify-content: space-between;
  }
  
  .partnerFormLeft {
    display: flex;
    flex-direction: column;
  }
  
  .partnerFormLeft > label {
    margin-bottom: 10px;
    color: gray;
  }
  
  .partnerFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
  }
  
  .partnerFormLeft > select {
    margin-bottom: 10px;
  }
  
  .partnerUploadImg {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .partnerFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .partnerUpload {
    display: flex;
    align-items: center;
  }
  
  .partnerButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }